*{
    margin: 0;
    padding: 0;
}
/* common classes */
.btn-color{
    background-color: tomato;
    color: white;
}
.primary-btn{
    padding: 18px;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
}
.btn-radius{
    background-color: #fff;;
    border-radius: 25px;
    color: gray;
    /* height: 15px; */
}
.primary-color{
    color: tomato;
}
.title{
    font-size: 46px;
    font-weight: bold;
}
.p-primary{
    font-size: 24px;
    font-weight: 500;
    margin: 25px 0px;
}
/* nav bar classes */
.menu-bar{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    position: sticky;

}
.menus{
    display: flex;
    list-style: none;
    gap: 20px;
}
/* banner section classes */
.banner-container{
    height: 100vh;
    background-image: url("asset/image/background.jpg"),
        linear-gradient(rgba(32, 31, 31, 0.9),rgba(85, 84, 84, 0.1));
        background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 80px;
}
.banner-items{
    width: 60%;
    text-align: center;
    color: white;
    margin: auto;
    
}
.banner-items h1{
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 1px;
}
.banner-items p{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px;
}
/* service section */
#service-container{
    height: 100vh;
    background-image: url("asset/image/footer-bg.png"),
        linear-gradient(rgba(33, 33, 33, 0.9),rgba(0, 0, 0, 0.9));
        background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 60px 50px;

}
.service-description{
    color: white;
}
.service-description > h1{
    margin: 10px 0px;
}
.service-description > p{
    width: 80%;
}
.service-description ol{
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
}
.author{
    display: flex;
    gap: 50px;
}
.author-profile{
    display: flex;
    gap: 15px;
    padding-right: 20px;
    border-right: 2px solid tomato;
    align-items: center;

}
.profile-img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
.author-designation{
    
}
.service-items{

}
.tow-item-conainer{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.item{
    height: 250px;
    width: 300px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 80px 0px 0px;
}
.icon-img{
    width: 70px;
    /* margin: 70px 0px 20px;  */
}
/* appointment section */
#appointment-section{
    width: 70%;
    margin: auto;
    margin-top: -40px;
    background-color: tomato;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 10px 30px;
    color: #fff;
}
.appointment-call{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 5px;
    border-right: 2px solid gray;
}
.appointment-details{
    width: 50%;
}
/* blog-section */
#blog-section{
    width: 80%;
    margin: auto;
    margin-top:90px ;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: left;
}
.card{
    width: 25%;
    border-radius: 15px;
    box-shadow: 5px 7px 10px gray;
}
.card-img{
    width: 100%;
    margin-bottom: 10px ;
}
.scale{
    margin: 10px;
}